<table class="table table-bordererd">
    <thead>
        <tr>
          <th>STT</th>
          <th>Name</th>
          <th>Price</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList, let i = index">
          <td>{{i + 1}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.status ? "Còn hàng" : "Hết hàng"}}</td>
          <td>
            <button class="btn btn-success">Update</button>
            <button class="btn btn-danger" (click)="onHandleRemove(product.id!)">Delete</button>
          </td>
        </tr>
    </tbody>
</table>
